#FastAPI
PORT=8080
#ImageKit
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=
#Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=media_sharing
POSTGRES_PORT=5432
#Database URL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/media_sharing